<h1>Funcionarios</h1>

<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            Funcionario
        </th>
        <th class="text-center">
            <a class="btn btn-xs btn-sucess">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Novo
            </a>

        </th>
    </tr>
    <tr *ngFor="let funcionario of funcionarios" >
        <td style="color: rgba(0, 0, 0, 0.833);">
            {{funcionario.nome}}
            {{funcionario.id}}
        </td>
        <td class="text-center" style="width: 200px;">
            <button (click)='editar(funcionario.id)'    class="btn btn-xs btn-info">
                Editar
                </button>

        
            
        <button (click)='remover(funcionario.id)'    class="btn btn-xs btn-info">
                    Remover
                    </button>
      
        
        </td>
    </tr>
</table>

<p *ngIf="funcionarios.length==0">Nenhum Funcionário cadastrado</p>