

        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">Start Bootstrap</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="home">Dashboard</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="">Shortcuts</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="">Overview</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="">Events</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" routerLink="">Profile</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" (click)="logout()">Logout</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
               
                <!-- Page content-->
                <div class="container-fluid">
                   <router-outlet></router-outlet>
                </div>
            </div>
        </div>
     
   

