<h1>Cadastrar Funcionario</h1>

<div class="well">
    <form #formFuncionario="ngForm" >
        <div class="form-group">
            <label for="nome">Funcionário:</label>
            <input
            type="text"
            class="form-control"
            id="nome"
            name="nome"
            [(ngModel)]="funcionario.nome"
            #nome="ngModel"
            minlength="5"
            required>
            <div *ngIf="nome.errors && (nome.touched || nome.dirty)" class="alert alert-danger">
                <div [hidden]="!nome.errors['required']">
                    Digite o Funcionário
                </div>
                <div [hidden]="!nome.errors['minlength']">
                    O funcionário deve conter ao menos 5 caracteres
                </div>
            </div>
        </div>
        <div class="form-group text-center">
            <input type="submit"
            class="btn btn-success"
            value="Atualizar"
            (click)="atualizar()"
            [disabled]="!formFuncionario.form.valid">
            <a 
            class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Voltar
            </a>
        </div>
    </form>












</div>
